<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniversityBD"
        tools:targetApi="31">
        <activity
            android:name=".user_profile.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CurrentUserActivity"
            android:exported="false" />
        <activity
            android:name=".service.HallDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".service.HallServiceActivity"
            android:exported="false" />
        <activity
            android:name=".activity.StudentCommunityActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SpecificUserNewsPostDetails"
            android:exported="false" />
        <activity
            android:name=".activity.UserNewsPostActivity"
            android:exported="false" />
        <activity
            android:name=".service.TeacherDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DetailsNewsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".user_profile.UserProfileActivity"
            android:exported="true" />
        <activity
            android:name=".intent.ImplicitIntentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TeamMemberActivity"
            android:exported="false" />
        <activity
            android:name=".splashscreen.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cgpacalculator.CGPADetailsActivity"
            android:exported="false" />
        <activity
            android:name=".loginandsignup.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".loginandsignup.UserLoginActivity"
            android:exported="false" />
        <activity
            android:name=".cgpacalculator.SemesterActivity"
            android:exported="false" />
        <activity
            android:name=".service.TeachersInfoService"
            android:exported="false" />
        <activity
            android:name=".activity.AllUniversityActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ServiceActivity"
            android:exported="false" />
        <activity
            android:name=".service.DocumentaryService"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" />
    </application>

</manifest>