<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/cgpa_calculator_info"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cgpa_calculator_info"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniversityBD"
        tools:targetApi="31">
        <activity
            android:name=".loginandsignup.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".loginandsignup.UserLoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cgpacalculator.SemesterActivity"
            android:exported="false" />
        <activity
            android:name=".cgpacalculator.CGPAHomeActivity"
            android:exported="false" />
        <activity
            android:name=".service.TeachersInfoService"
            android:exported="false" />
        <activity
            android:name=".activity.AllUniversityActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ServiceActivity"
            android:exported="false" />
        <activity
            android:name=".service.DocumentaryService"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"></activity>
    </application>

</manifest>